{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name figwheel.connect.build-development, :imports nil, :requires {figwheel.client figwheel.client, space_adventure.core space_adventure.core, figwheel.client.utils figwheel.client.utils}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros nil, :cljs.analyzer/constants {:seen #{:build-id :websocket-url}, :order [:build-id :websocket-url]}, :doc nil}